extends layout

block content
    .nav
        a.left(href='/')
            img.beluga-logo-nav(src='/beluga_icon.png', alt='Beluga')
        form.left(action='/', method='POST')
            //- | Search Cluster:
            input.navSearch(type='search', name='name', placeholder="#{website.name}")
            input.search-icon(type='submit', value='search')
    br
    hr
    //- h1 #{website.name}
    br

    //- p
    //-     a(href='/websites') Back to everyone

    if following.length
        ul
            li
                .results
                    p.result-total #{following.length} results:


                    for other in following
                        .result-container
                            a(href='/websites/#{other.id}')
                                p.result-title #{other.name}
                            p.result-meta Wes Anderson wolf mumblecore ethical, four loko kogi kale chips photo booth Kickstarter taxidermy tousled pork belly fashion axe. Paleo PBR&B twee, Brooklyn Tumblr locavore
            li
                section.results-right-column
                    if others.length
                        form(action='/websites/#{website.id}/createandfollow', method='POST')
                            input.add-connection-button(type='submit', value='+')
                            input.add-connection-form(type='text', name='name', placeholder='Add Connection', required)
                    else
                        p There's always money in the banana hammock


    else
        p #{website.name} isn't connected to any other websites yet.





    //- form(action='/websites/#{website.id}', method='POST')
    //-     p Edit this website:
    //-     input(type='text', name='name', placeholder='#{website.name}', required)
    //-     input(type='submit', value='Update')

    //- form(action='/websites/#{website.id}', method='POST', onsubmit='return confirm("Are you sure?");')
    //-     p And if you're feeling destructive…
    //-     input(type='hidden', name='_method', value='DELETE')
    //-     input(type='submit', value='Delete Website')


                    //- delete route
                    //- form(action='/websites/#{website.id}/unfollow', method='POST')
                    //-     a(href='/websites/#{other.id}') #{other.name}
                    //-     input(type='hidden', name='website[id]', value='#{other.id}')
                    //-     input(type='submit', class='unfollow', value='x')


    //- if others.length
    //-     form(action='/websites/#{website.id}/follow', method='POST')
    //-         p Connect #{website.name} to a website in the cluster database:
    //-         label
    //-             select(name='website[id]', required)
    //-                 option(value='')
    //-                 for website in others
    //-                     option(value='#{website.id}') #{website.name}
    //-         input(type='submit', value='Follow')
    //- else
    //-     p #{website.name} is connected to all the websites in the database!


    //- if others.length
    //-     form(action='/websites/#{website.id}/createandfollow', method='POST')
    //-         p Create another connection to #{website.name}:
    //-         input(type='text', name='name', placeholder='URL', required)
    //-         input(type='submit', value='Create And Follow')
