extends layout

block content
    hr
    h1 #{website.name}
    hr
    br

    p
        a(href='/websites') Back to everyone

    if following.length
        p #{website.name} is connected to #{following.length} websites:
        // TODO should say 'website' if only one! ;)
        ul.websites
            for other in following
                li.website
                    form(action='/websites/#{website.id}/unfollow', method='POST')
                        a(href='/websites/#{other.id}') #{other.name}
                        input(type='hidden', name='website[id]', value='#{other.id}')
                        input(type='submit', class='unfollow', value='x')
    else
        p #{website.name} isn't connected to any other websites yet.

    if others.length
        form(action='/websites/#{website.id}/follow', method='POST')
            p Connect #{website.name} to another website:
            label
                select(name='website[id]', required)
                    option(value='')
                    for website in others
                        option(value='#{website.id}') #{website.name}
            input(type='submit', value='Follow')
    else
        p #{website.name} is connected to all the websites in the database!

    form(action='/websites/#{website.id}', method='POST')
        p Edit this website:
        input(type='text', name='name', placeholder='#{website.name}', required)
        input(type='submit', value='Update')

    form(action='/websites/#{website.id}', method='POST', onsubmit='return confirm("Are you sure?");')
        p And if you're feeling destructive…
        input(type='hidden', name='_method', value='DELETE')
        input(type='submit', value='Delete Website')
